<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Manifest My Toyota</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
</head>


<body>
    <div class="stars"></div>
    <main class="content">
        <h1>Manifest My Toyota</h1>

        <div class="tarot-card" onclick="this.classList.toggle('flipped')">
            <div class="tarot-card-inner">
                <div class="tarot-front">
                    <h1 class="tarot-main-title">
                        <span class="tarot-icon">✦</span>
                        <span class="tarot-title-stack">
                            <span class="tarot-title-line">team</span>
                            <span class="tarot-title-line">porygon2</span>
                        </span>
                        <span class="tarot-icon">✦</span>
                    </h1>

                    <p class="tarot-subtitle">word • word • word</p>
                    <p>click to reveal our message...</p>
                </div>
                <div class="tarot-back">
                    <span class="tarot-icon">✦</span>
                    <p>words</p>
                    <span class="tarot-icon">✦</span>
                </div>
                
            </div>
        </div>
       

    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    


</body>

</html>